// header

.header {
    background: $light-blue;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #e0e4e5;
    padding-top: 20px;
    padding-bottom: 24px;
}

.header__logo {
    color: rgba( 112, 112, 112, 0.4 );
    font-size: 20px;
    // opacity: 0.44;
    padding: 12px  48px;
    border-radius: 23px;
    background-color: #fff;
    margin-right: 17px;
}

.header__right,
.header__left {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    li{
        a {
            color: $dark-blue;
            font-weight: 500;
            display: block;
            font-size: 16px;
            line-height: 21px;
            margin-left: 25px;
            margin-right: 25px;
            padding: 15px 0;
            transition: all 0.3s;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                background: $dark-blue;
                opacity: 0;
                border-radius: 6px;
                width: 100%;
                height: 4px;
                bottom: -26px;
                left: 0;
                transition: all 0.3s;
            }
            &:hover {
                
                &::before {
                    // pos
                    transition: all 0.3s;    
                    opacity: 1;
                }
                transition: all 0.3s;
            }
        }
    }
}



.burger {
	display: none;
}

.mobileMenu {
    margin-left: auto;
	width: 0;
	overflow: hidden;
	height: 100vh;
	background: #fff;
	transition: all 0.3s;
	position: relative;

	&__close {
		position: absolute;
        right: 15px;
        top: 30px;
		transition: all 0.3s;
		&:hover {
			opacity: 0.5;
		}
        img {
            max-width: 18px;
        }
	}

	&-overlay {
		// display: none;
		opacity: 0;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
        background: rgba(0, 0, 0, 0.45);
		z-index: -1;
		transition: all 0.3s;
	}

	&__container {
		display: flex;
		height: 100%;
        padding: 0 25px;
        flex-direction: column;
	}

	.header__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;

		.menu-item {
			margin: 0;
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}

			a {
				font-size: 32px;
				line-height: 44px;
				color: #0F0F0F;
			}
		}

		.menu-item.active:after {
			background: #01A9B4;
		}
	}
}

.mobileMenu-overlay.open {
	z-index: 9999;
	opacity: 1;
	transition: all 0.3s;
	.mobileMenu {
        margin-left: auto;
		width: 320px;
        background: $white;
		transition: all 0.3s;
	}
}



.header__left {

}

.header__menu {

}

.header__right {

}

// ==========================================================================================================================================================
// responsive

@media (max-width: 1366px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 991px) {
    
    .header__wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header .header__menu {
        display: none;
    }

    .burger {
        display: block;
        margin-left: 35px;
    }

    .open-menu-js {
		cursor: pointer;
	}

	.open-menu span
	{
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 6px;
        position: relative;
        background: $dark-blue;
        z-index: 1;
        margin-left: auto;
	}

	.open-menu span:first-child
	{
        transform-origin: 0% 0%;
        width: 39px;
	}

    .open-menu span:last-child
	{
        transform-origin: 0% 0%;
        width: 18px;
        margin-bottom: 0;
	}

    .mobileMenu .header__menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .mobileMenu .header__menu {
        margin-right: 0;
        margin-top: 81px;
        margin-bottom: 36px;
        margin-left: 0;
    }

    .mobileMenu .header__menu li a {
        margin: 0;
        font-size: 20px;
        line-height: 36px;
    }    


}



@media (max-width: 767px) {

    .header__right {
        .btn {
            display: none;
        }
    }

}


@media (max-width: 479px) {

}

@media (max-width: 340px) {


}