// howItWorks

.howItWorks {
    padding-top: 116px;
    padding-bottom: 70px;
    background:  $section_grey;

    .section__subtitle {

    }
    
    .section__title {
        
    }

}

.howItWorks__wrapper {
    margin-top: 35px;
}

.howItWorks__item {
    background: $white;
}

.howItWorks__head {
    padding: 20px 37px 41px 40px;
    background: $dark-blue;

    h5 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.86;
    }

    p {
        font-size: 10px;
        line-height: 1.3;
        margin-top: 2px;
        color: $grey;
    }
    &-content {

        p.howItWorks__head-status {
            display: flex;
            align-items: center;
            font-size: 10px;
            line-height: 1.3;
            color: $green;
            margin-top: 6px;
        }

        span.available-status__true {
            width: 7px;
            height: 7px;
            background-color: #62c370;
            border-radius: 50%;
            display: block;
            margin-right: 4px;
            // border: 2px solid opacity: 0.37;
        }
    }
    
}

.howItWorks__head-content__wrapper {
    border-radius: 12px;
    background-color: #fff;
    padding: 4px;
    display: flex;
}

.howItWorks__head-img {
    margin-right: 12px;
    flex-shrink: 0;
}

.howItWorks__content {
    padding: 0 53px;
    padding-top: 23px;
    padding-bottom: 25px;
    text-align: center;
    
    &-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
    }

    &-text {
        margin-top: 15px;
        font-size: 16px;
        line-height: 1.5;
        color: $grey;
    }

    &-btn {
        min-width: 129px;
        margin-top: 24px;
    }
}

// 2 item

.howItWorks__head-item {

    P {

    }
}

.howItWorks__head-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.howItWorks__head-content h5 {
    display: flex;
    align-items: center;
    img {
        margin-right: 7px;
    }
}

.--book-an-appointment {
    .howItWorks__head p {
        margin-top: 7px;
    }
}

//  3 

.howItWorks__item.--read-more .howItWorks__head-content__wrapper {
    flex-direction: column;
    padding: 10px 12px;
    padding-bottom: 17px;
}

.howItWorks__head-item {
    margin-bottom: 2px;
    display: flex; 
    align-items: flex-end;
    
    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
    }
}


.howItWorks__head-item__icon {
    margin-right: 7px;
    position: relative;
    z-index: 0;
    img {

    }

    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ebebeb;
        bottom: 0px;
        left: -2px;    

    }
}

// #####################################################
// responsive

@media (max-width: 1200px) {

    .howItWorks__content-btn {
        padding: 15px 15px;
    }

    .howItWorks__content {
        padding-right: 40px;
        padding-left: 40px;
    }

}


@media (max-width: 1200px) and (min-width: 991px) {

    .howItWorks__head {
        padding: 20px 12px;
    }

}

@media (max-width: 991px) {

    .howItWorks__item  {
        margin-bottom: 14px;
    }

    .howItWorks__wrapper .col-lg-4:last-child .howItWorks__item {
        margin-bottom: 0;
    }

    .howItWorks__head {
        padding: 20px 30px;
        padding-bottom: 30px;
    }

}

@media (max-width: 767px) {

    .howItWorks {
        padding-top: 105px;
        padding-bottom: 45px;
    }

    .howItWorks__wrapper {
        margin-top: 35px;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .howItWorks__content-title {
        font-size: 18px;
    }

}

@media (max-width: 567px) {

    .howItWorks__content {
        padding-right: 25px;
        padding-left: 25px;
    }

}